/* Ветка НАД рамкой */
.game::before {
  content: '';
  position: absolute;
  margin-bottom: 490px;
  width: 700px;
  height: 120px;
  background: url('img/vetka.png') no-repeat center/contain;
  transform: rotate(180deg);
  z-index: 9;
}

/* Ветка ПОД рамкой */
.game::after {
  content: '';
  position: absolute;
  margin-top: 490px;
  width: 700px;
  height: 120px;
  background: url('img/vetka.png') no-repeat center/contain;
  z-index: 9;
}