html {
    background: rgba(20, 100, 0, 0.842);
}

body {
    padding: 0;
    margin: 0;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas {
    border: 5px black solid;
    border-radius: 20px;
}