html {
    background-image: url(../img/fonProject.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas {
    border: 5px black solid;
}